<div class="parent">
    <div class="text-center">
        <img width="150" height="150" src="assets/error.png" alt="">
    </div>
    <div class="in-progress" >There was an error extracting some text!</div>
    <div class="in-progress text-danger" style="font-size: 12px;">*Maybe: Text provided was too small or Some non-text might have been extracted from the image, kindly retry with another capture or long text.</div>
    <div class="flex">
        <button mat-button (click)="retry()">Retry</button>
        <button mat-button (click)="goBack()">Back</button>
    </div>
</div>
