/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap'); */
@font-face {
  font-family: Cerebri Sans;
  src: url(assets/Cerebri-Sans/Cerebri-Sans/CerebriSans-Book.ttf) format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cerebri Sans', 'arial', sans-serif;
}
body {
  background-color: #E5E5E5;
  height: 100%;
  font-family: Cerebri Sans, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, select , button{
  caret-color: #EF4623;
  background: transparent; outline: none !important; border: 0px;
}
.pointer {
  cursor: pointer;
}
select{ cursor: pointer;}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  background-color:#262C31;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #EF4623;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px;
  transition: background-color 5000s ease-in-out 0s;
}

.button-section {
  padding: 0px 1rem;
}
.body{
  animation: fadeIn .5s;
  -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  -o-animation: fadeIn .5s;
  -ms-animation: fadeIn .5s;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #62526D;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: #62526D;
  background-color: #62526D;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #62526D !important;
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #557c7c !important;
}
.mat-bottom-sheet-container {
  padding: 0 !important;
}

@keyframes fadeIn {
  0% {opacity:0.4;}
  50% {opacity:0.6;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0.4;}
  50% {opacity:0.6;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0.4;}
  50% {opacity:0.6;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0.4;}
  50% {opacity:0.6;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0.4;}
  50% {opacity:0.6;}
  100% {opacity:1;}
}
